@model Geekium.Models.PriceTrend

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PriceTrend</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AveragePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AveragePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowestPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowestPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PriceTrendId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
