@model IEnumerable<Geekium.Models.PriceTrend>

@{
    ViewData["Title"] = "Price Trends";
}

<h1>Price Trends</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Last Updated
            </th>
            <th>
                Average Price
            </th>
            <th>
                Lowest Price
            </th>
            <th>
                Highest Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AveragePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestPrice)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PriceTrendId">View Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
