@model Geekium.Models.Account
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<h1>Manage your account</h1>

<div>
	<ul class="">
		<li><a class="btn" asp-area="" asp-controller="Accounts" asp-action="Edit" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("userId")">Account Details</a></li>
		<li><a class="btn" asp-area="" asp-controller="Accounts" asp-action="Upgrade" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("userId")">Upgrade to Seller</a></li>
		<li><a class="btn" asp-area="" asp-controller="Accounts" asp-action="Delete" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("userId")">Delete Account</a></li>
	</ul>
</div>
<br />
<hr />
<div style="width:50%;text-align:center">
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UserName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UserName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UserPassword)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UserPassword)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PointBalance)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PointBalance)
		</dd>
	</dl>
</div>