@model IndexListingsViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h3>What's popular right now</h3>
</div>
<hr />

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<!--Sell Listing Carousel -->
<h4 class="text-center">Active Buy & Sell Listings</h4>
<div id="sellListingCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		@foreach (var item in Model.SellListings)
		{
			<div class="carousel-item @(item == Model.SellListings.First() ? "active" : "")">
				<a asp-controller="SellListings" asp-action="Details" asp-route-id="@item.SellListingId"><img class="displayImage" src="@("~/images/"+item.SellImage)" asp-append-version="true" width="250" height="250" /></a>
				<div class="text-center">
					<p class="mb-0">@item.SellTitle</p>
					<p class="mb-0">Price: @item.SellPrice</p>
					<p class="mb-0">Seller: @item.Seller.Account.UserName</p>
				</div>
			</div>
		}
	</div>
</div>

<hr />

<!--Trade Listing Carousel -->
<h4 class="text-center">Active Trade Listings</h4>
<div id="tradeListingCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		@foreach (var item in Model.TradeListings)
		{
			<div class="carousel-item @(item == Model.TradeListings.First() ? "active" : "")">
				<a asp-controller="TradeListings" asp-action="Details" asp-route-id="@item.TradeListingId"><img class="displayImage" src="@("~/images/"+item.TradeImage)" asp-append-version="true" width="250" height="250" /></a>
				<div class="text-center">
					<p class="mb-0">@item.TradeTitle</p>
					<p class="mb-0">Trade For: @item.TradeFor</p>
					<p class="mb-0">Trader: @item.Seller.Account.UserName</p>
				</div>
			</div>
		}
	</div>
</div>

<hr />

<!--Service Listing Carousel -->
<h4 class="text-center">Active Service Listings</h4>
<div id="serviceListingCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		@foreach (var item in Model.ServiceListings)
		{
			<div class="carousel-item @(item == Model.ServiceListings.First() ? "active" : "")">
				<a asp-controller="ServiceListings" asp-action="Details" asp-route-id="@item.ServiceListingId"><img class="displayImage" src="@("~/images/"+item.ServiceImage)" asp-append-version="true" width="250" height="250" /></a>
				<div class="text-center">
					<p class="mb-0">@item.ServiceTitle</p>
					<p class="mb-0">Contact: @item.Account.UserName</p>
				</div>
			</div>
		}
	</div>
</div>

