@model Geekium.Models.ServiceListing

@{
    ViewData["Title"] = Html.DisplayFor(model => model.ServiceTitle) + "Details";
}

<body>
    <div>
        <a class="btn btn-primary" type="button" asp-action="Index">Back to List</a>
    </div>
	<img class="displayDetailImage" src="@("~/Images/"+Model.ServiceImage)" asp-append-version="true" width="250px" height="250px" />

    <hr />

    <h1>@Html.DisplayFor(model => model.ServiceTitle)</h1>
    <p>
        Service Provider: @Html.DisplayFor(model => model.Account.UserName)<br />
        Listing Date: @Html.DisplayFor(model => model.ListingDate)<br />
    </p>
    <hr />
    <br />
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="serviceDescriptionHeading">
                <h5 class="mb-0">
                    <a class="stretched-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Service Description
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show">
                <div class="card-body">
                    @Html.DisplayFor(model => model.ServiceDescription)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="contactInformationHeading">
                <h5 class="mb-0">
                    <a class="stretched-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Contact Information
                    </a>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show">
                <div class="card-body">
                    Email Address: @Html.DisplayFor(model => model.Account.Email)
                </div>
            </div>
        </div>
    </div>
</body>



