@model IEnumerable<Geekium.Models.SellerReview>


<body>
    <h1 style="text-align: center">Reviews for @ViewBag.Seller</h1>
    <h3 style="text-align: center">Average Rating: @ViewBag.Average / 5</h3>
    <h5 style="text-align: center; color: forestgreen;">@ViewBag.Error</h5>
    <br />

    <div style="align-content: center; align-items: center;">
        <div class="form-inline">
            <a class="btn btn-outline-info form-control col-md-4" role="button" asp-action="Create">Create Review</a>
            <a class="btn btn-outline-info form-control col-md-4" role="button" asp-action="Edit">Edit Review</a>
            <a class="btn btn-outline-info form-control col-md-4" role="button" asp-action="Delete">Delete Review</a>
        </div>
    </div>
    <br />
    <hr />
    <br />
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <p class="card-text">
                            Buyer Name: @Html.DisplayFor(model => item.Account.UserName)<br />
                            Rating: @Html.DisplayFor(model => item.BuyerRating)<br />
                            Description: @Html.DisplayFor(model => item.ReviewDescription)
                        </p>
                    </div>
                </div>
            </div>
        </div><br />
    }
</body>