@model IEnumerable<Geekium.Models.ItemsForCart>
@using Microsoft.Extensions.Options
@inject IOptions<Geekium.Data.StripeSettings> Stripe
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	ViewData["Title"] = "Index";
}
<div class="text-center">
	<h1 class="display-4">Cart</h1>
</div>

<body onload="recalculateSubtotal(null)">
	@if (Model.Count() > 0)
	{
		<table class="table">
			<tr>
				<th>Product</th>
				<th>Images appear below</th>
				<th>Description</th>
				<th>Price</th>
				<th>Quantity</th>
				<th></th>
			</tr>
			@{ var count = 0; }
			@foreach (var item in Model)
			{
				<tr>
					<td class="truncate">@Html.DisplayFor(modelItem => item.SellListing.SellTitle)</td>
					<td><!-- Image --></td>
					<td class="truncate">@Html.DisplayFor(modelItem => item.SellListing.SellDescription)</td>
					<td>$@Html.DisplayFor(modelItem => item.SellListing.SellPrice) </td>
					<td>
						<input id="quantity(@count)" onchange="recalculateSubtotal(@item.ItemsForCartId, this.id)" type="number" max="999" min="1" value="@Html.DisplayFor(modelItem => item.Quantity)" />
					</td>
					<td><a asp-controller="Carts" asp-action="Remove" asp-route-id="@item.ItemsForCartId">Remove Item</a></td>
				</tr>
				count++;
			}
			<tr>
				<td align="right" colspan="4">Subtotal</td>
				<td>$@ViewBag.subTotal</td>
			</tr>
		</table>
	}
	else
	{
		<h4 style="text-align:center">Your cart seems to be empty!</h4>
	}
    <a class="btn btn-success" role="button" asp-area="" asp-controller="Carts" asp-action="CartPayment" style="float: right;">Proceed to Checkout</a>
    <a class="btn btn-primary" role="button" asp-controller="SellListings" asp-action="Index">Continue Shopping</a>

	@if (@HttpContextAccessor.HttpContext.Session.GetString("rewardType") != null)
	{
		<p>Your discount code for @HttpContextAccessor.HttpContext.Session.GetString("rewardType") has been applied</p>
	}

</body>

<script>
	function recalculateSubtotal(id, inputId) {
		console.log(id);
		console.log(inputId);

		if (id != null) {

			var y = document.getElementById(inputId).value;
			if (y < 0) {
				y = 0
				document.getElementById(inputId).value = 0;
			}
			else if (y > 999) {
				y = 999
				document.getElementById(inputId).value = 999;
			}

			UpdateCart(id, y);
		}
	}
    function UpdateCart(id, quantity) {
        $.ajax({
            url: 'Carts/UpdateQuantity',
            data: { id: id, quantity: quantity },
            success: function () {
                window.location.reload();
            }
        });
    }
</script>