@model IEnumerable<Geekium.Models.Cart>
@using Microsoft.Extensions.Options 
@inject IOptions<Geekium.Data.StripeSettings> Stripe
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">Cart</h1>
</div>

<body>
    @foreach (var item in Model)
    {
        
    }




    @if (ViewBag.cart != null && ViewBag.cart.Count > 0)
    {
        <h3>Your Cart</h3>
        <table class="cartTable">
            <tr>
                <th>Product</th>
                <th>Images appear below</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var ItemsForCart in ViewBag.cart)
            {
                <tr>
                    <td>@ItemsForCart.SellListing.SellTitle</td>
                    <td>@ItemsForCart.SellListing.SellImage</td>
                    <td>@ItemsForCart.SellListing.SellDescription</td>
                    <td>@ItemsForCart.SellListing.SellPrice</td>
                    <td>@ItemsForCart.Quantity</td>
                    <td></td>
                    <td><a asp-controller="Carts" asp-action="Remove" asp-route-id="ItemsForCart.SellListing.SellListingId">Remove Item</a></td>
                </tr>
            }
        <tr>
            <td align="right" colspan="3">HST</td>
            <td>@ViewBag.tax</td>
        </tr>
        <tr>
            <td align="right" colspan="3">Points</td>
            <td>@ViewBag.points</td>
        </tr>
        </table>
    }
    else
    {
        <h4 style="text-align:center">Your cart seems to be empty!</h4>
    }
    <div class="text-center">
        <form asp-action="CheckOut" asp-controller="Carts" method="POST">
            <article>
                <label>Sum: @ViewBag.total</label>
            </article>
            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-locale="auto"
                    data-description="Product Checkout"
                    data-amount= "@ViewBag.stripeTotal"
                    data-currency="cad">
            </script>
        </form>
    </div>
    <a class="btn btn-success" role="button" asp-controller="Carts" asp-action="Checkout" style="float: right;">Proceed to Checkout</a>
    <a class="btn btn-primary" role="button" asp-controller="SellListings" asp-action="Index">Continue Shopping</a>

</body>

