@model Geekium.Models.SellListing

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SellListing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTrend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceTrend.PriceTrendId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.SellerId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SellListingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
