@model Geekium.Models.SellListing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SellListing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTrend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceTrend.PriceTrendId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.SellerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
