@model IEnumerable<Geekium.Models.TradeListing>

@{
    ViewData["Title"] = "Index";
}

<body>
    <h2>Trade Listings</h2>

    <form method="post" asp-action="FilterTrades">
        <div class="form-inline">
            <input class="form-control mr-sm-2" id="searchBox" type="text" name="searchTrade" placeholder="Search for Trades" value="@ViewBag.Search" />
            <a class="btn btn-outline-secondary my-2 my-sm-0" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filterSearch">
                Add Filter
            </a>&nbsp;
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" title="searchButton">Search Trade</button>
        </div><br />
              <div class="@ViewBag.Collapse form-inline" id="filter">
                  <div class="card card-body">
                      <div class="form-group form-inline">
                          <div class="form-group form-inline">
                              Location:&nbsp;@Html.DropDownList("typeList", (List<SelectListItem>)ViewBag.TradeFilter, new { @class = "form-control select2 select1", @id = "type", @name = "type" })
                          </div><br />
                      </div><br />
                      <button class="btn btn-outline-danger my-2 my-sm-0" asp-action="Index">Clear All</button>
                  </div>
              </div>
    </form>
    <br />
    <div class="py-2">
        <div class="container">
            @{ var count = 0;}
            @{ var items = 0;}
            @foreach (var item in Model)
            {
                if (count == 0)
                {
                    @:<div class="row">
                    }
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-header truncate">
                                    @Html.DisplayFor(modelItem => item.TradeTitle)
                                </div>
                                <div class="card-body">
									<img class="displayDetailImage" src="@("~/Images/"+item.TradeImage)" asp-append-version="true" width="250px" height="250px" />
                                    <h5 class="card-title">Seller: @Html.DisplayFor(modelItem => item.Seller.Account.UserName)</h5>
                                    <p class="card-text">Trade For: @Html.DisplayFor(modelItem => item.TradeFor)</p>
                                    <a class="stretched-link" asp-action="Details" asp-route-id="@item.TradeListingId"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    items++;

                    if (count == 2)
                    {
                        count = 0;
                    @:</div><br />
                }
                else
                {
                    count++;
                }
            }

            @if (items == 0)
            {
                <div>
                    <br />
                    <h2>Nothing matches the search/filter</h2>
                </div>
            }
        </div>
    </div>
</body>