@model IEnumerable<Geekium.Models.Account>
@{
    ViewData["Title"] = "Index";
}

<body>
    @if (ViewBag.SellerAccount)
    {
        <div style="align-content: center; align-items: center;">
            <div class="form-inline">
                <a class="btn btn-outline-info form-control col-md-4" role="button" asp-action="CreateSell">Create a Sell Listing</a>
                <a class="btn btn-outline-info form-control col-md-4" role="button" asp-action="CreateTrade">Create a Trade Listing</a>
                <a class="btn btn-outline-info form-control col-md-4" role="button" asp-action="CreateService">Create a Service Listing</a>
            </div>
        </div>
    }
    else
    {
        <div style="align-content: center; align-items: center;">
            <div class="form-inline">
                <a class="btn btn-outline-info form-control col-md-12" role="button" asp-action="CreateService">Create a Service Listing</a>
            </div>
        </div>
    }
    @{ var count = 0;}
    @foreach (var item in Model)
    {
        <br />
        <hr />
        @if (ViewBag.SellerAccount)
        {
            <h2>Current Sell Listings</h2>
            <div class="py-2">
                <div class="container">
                    @{ count = 0;}
                    @foreach (var sell in item.SellerAccounts)
                    {
                        @foreach (var product in sell.SellListings)
                        {
                            if (count == 0)
                            {
                                @:<div class="row">
                                }
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="card-header truncate">
                                                @Html.DisplayFor(modelItem => product.SellTitle)
                                            </div>
                                            <div class="card-body">
                                                <img class="displayImage" src="~/images/buy-icon.png" />
                                                <h5 class="card-title truncate">Seller: @Html.DisplayFor(modelItem => product.Seller.Account.UserName)</h5>
                                                <p class="card-text">Price: $@Html.DisplayFor(modelItem => product.SellPrice)</p>
                                                <a class="stretched-link" asp-action="SellDetails" asp-route-id="@product.SellListingId"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (count == 2)
                                {
                                    count = 0;
                                @:</div><br />
                            }
                            else
                            {
                                count++;
                            }
                        }
                    }
                </div>
            </div>
            <hr />
            <h2>Current Trade Listings</h2>
            <div class="py-2">
                <div class="container">
                    @{ count = 0;}
                    @foreach (var trade in item.SellerAccounts)
                    {
                        @foreach (var product in trade.TradeListings)
                        {
                            if (count == 0)
                            {
                                @:<div class="row">
                                }
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="card-header truncate">
                                                @Html.DisplayFor(modelItem => product.TradeTitle)
                                            </div>
                                            <div class="card-body">
                                                <img class="displayImage" src="~/images/buy-icon.png" />
                                                <h5 class="card-title truncate">Seller: @Html.DisplayFor(modelItem => product.Seller.Account.UserName)</h5>
                                                <p class="card-text">Trade For: @Html.DisplayFor(modelItem => product.TradeFor)</p>
                                                <a class="stretched-link" asp-action="TradeDetails" asp-route-id="@product.TradeListingId"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (count == 2)
                                {
                                    count = 0;
                                @:</div><br />
                            }
                            else
                            {
                                count++;
                            }
                        }
                    }
                </div>
            </div>
        }

        <hr />
        <h2>Current Service Listings</h2>
        <div class="py-2">
            <div class="container">
                @{ count = 0;}
                @foreach (var service in item.ServiceListings)
                {
                    if (count == 0)
                    {
                        @:<div class="row">
                        }
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block">
                                    <div class="card-header truncate">
                                        @Html.DisplayFor(modelItem => service.ServiceTitle)
                                    </div>
                                    <div class="card-body">
                                        <img class="displayImage" src="~/images/buy-icon.png" />
                                        <h5 class="card-title truncate">Service Provider: @Html.DisplayFor(modelItem => service.Account.UserName)</h5>
                                        <p class="card-text truncate">Details: @Html.DisplayFor(modelItem => service.ServiceDescription)</p>
                                        <a class="stretched-link" asp-action="ServiceDetails" asp-route-id="@service.ServiceListingId"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        if (count == 2)
                        {
                            count = 0;
                        @:</div><br />
                    }
                    else
                    {
                        count++;
                    }
                }
            </div>
        </div>
    }
</body>