@model IEnumerable<Geekium.Models.SellListing>

@{
    ViewData["Title"] = "Index";
}

<h1>My Listings</h1>

<a class="btn btn-primary" role="button" asp-action="CreateSell">Create a Sell Listing</a>
<a class="btn btn-primary" role="button" asp-action="CreateTrade">Create a Trade Listing</a>
<a class="btn btn-primary" role="button" asp-action="CreateService">Create a Service Listing</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTrend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SellTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceTrend.PriceTrendId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.SellerId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SellListingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SellListingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SellListingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>