@model Geekium.Models.SellListing

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.SellTitle) + " Details";
}

<body>
    <div>
        <a class="btn btn-primary" type="button" asp-action="Index">Back to List</a>
    </div>
	<img class="displayDetailImage" src="@("~/images/"+Model.SellImage)" asp-append-version="true" width="250" height="250" />
    <hr />

    <h1>@Html.DisplayFor(model => model.SellTitle)</h1>
    <p>
        Category: @Html.DisplayFor(model => model.SellItemType) <br />
        Seller: @Html.DisplayFor(model => model.Seller.Account.UserName) <br />
        @if (!Model.Seller.AverageRating.HasValue)
        {
            @:Rating: N/A
        }
        else
        {
            @:Rating: @Html.DisplayFor(model => model.Seller.AverageRating)
        }
    </p>
    <hr />
    <p>
        Listing Date: @Html.DisplayFor(model => model.SellDate)<br />
        Current Stock: @Html.DisplayFor(model => model.SellQuantity)<br />
        Price: $@Html.DisplayFor(model => model.SellPrice)
    </p>
    <br />
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="sellDescriptionHeading">
                <h5 class="mb-0">
                    <a class="stretched-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Product Description
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="sellDescriptionHeading" data-parent="#accordion">
                <div class="card-body">
                    @Html.DisplayFor(model => model.SellDescription)
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <a type="button" class="btn btn-primary btn-lg btn-block" asp-action="EditSell" asp-route-id="@Model.SellListingId">Edit Item</a><br />
        <form asp-action="SellDetails">
            <input type="hidden" asp-for="SellListingId" />
            <input class="btn-danger btn-lg btn-block" type="submit" value="Delete" />
        </form>
    </div>

</body>