@model Geekium.Models.TradeListing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TradeListing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeFor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeItemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeItemType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TradeQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TradeQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.SellerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditTrade">Edit Item</a> |
    <form asp-action="TradeDetails">
        <input type="hidden" asp-for="TradeListingId"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
    <a asp-action="Index">Back to List</a>
</div>