@model Geekium.Models.TradeListing

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.TradeTitle) + "Details";
}

<body>
    <div>
        <a class="btn btn-primary" type="button" asp-action="Index">Back to List</a>
    </div>
    <img class="displayDetailImage" src="@("~/Images/"+Model.TradeImage)" asp-append-version="true" width="250px" height="250px" />

    <hr />

    <h1>@Html.DisplayFor(model => model.TradeTitle)</h1>
    <p>
        Category: @Html.DisplayFor(model => model.TradeItemType) <br />
        Seller: @Html.DisplayFor(model => model.Seller.Account.UserName) <br />
        Rating: @Html.DisplayFor(model => model.Seller.AverageRating)<br />
    </p>
    <hr />
    <p>
        Listing Date: @Html.DisplayFor(model => model.TradeDate)<br />
        Trade For: @Html.DisplayFor(model => model.TradeFor)<br />
        Quantity: @Html.DisplayFor(model => model.TradeQuantity)<br />
    </p>
    <br />
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="tradeDescriptionHeading">
                <h5 class="mb-0">
                    <a class="stretched-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Trade Description
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse multi-collapse show">
                <div class="card-body">
                    @Html.DisplayFor(model => model.TradeDescription)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="contactInformationHeading">
                <h5 class="mb-0">
                    <a class="stretched-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Contact Information
                    </a>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse multi-collapse show">
                <div class="card-body">
                    Email Address: @Html.DisplayFor(model => model.Seller.Account.Email);
                    Trade Location: @Html.DisplayFor(model => model.TradeLocation);
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <a type="button" class="btn btn-primary btn-lg btn-block" asp-action="EditTrade" asp-route-id="@Model.TradeListingId">Edit Trade</a><br />
        <form asp-action="TradeDetails">
            <input type="hidden" asp-for="TradeListingId" />
            <input class="btn-danger btn-lg btn-block" type="submit" value="Delete" />
        </form>
    </div>
</body>